html,body{height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
b,strong{font-weight:bold}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
img{max-width:100%; height:auto}
ul,ol{list-style:none}
li{display:list-item}
table{border-collapse:collapse;border-spacing:0}
th,td,caption{font-weight:normal;vertical-align:middle;text-align:left}

hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
#wrapper{min-height:100%;overflow:hidden}

/*h1{font-size:1.5625em}
h2{font-size:1.4375em}
h3{font-size:1.3125em}
h4{font-size:1.1875em}
h5{font-size:1.0625em}
h6{font-size:.9375em}*/
li{margin-left:3.125%}

.tabs,.tabs li{list-style:none;margin-left:0;overflow:hidden}
.tabs{font-family:Arial,sans-serif;text-transform:uppercase}
.tabs li{border:0 solid #e6e3df;border-width:1px 1px 1px 0;float:left}
.tabs li:first-child{border-left-width:1px}
.tabs a{
background:#f6f3f0;
border:1px solid #fff;
color:#797673;
cursor:default;
display:block;
padding:5px 20px;
text-decoration:none}
.tabs a:hover{
background:#ffc;
text-decoration:underline
}
.tabs a.active{
background:#797673;
color:#fff
}

html{overflow-y:scroll}
body{background:#fff;color:#333;font-family:Verdana,sans-serif}

a{color:#06c}
a:hover{color:#c60}
a:hover img,#ss_logo a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:0.7}

small,.small{font-size:10px}
table{width:100%}
tbody{border:0}
th,td{padding-left:3.125%}
tr th:first-child{padding-left:0}
.cols-6 img, .cols-4 img{padding:2px;border:1px solid #999}

h1,h2,h3,h4,h5,h6,caption{font-family:Oswald,"Yanone Kaffeesatz","Arial Narrow",sans-serif;font-weight:normal;line-height:1;text-transform:uppercase}
h1{background:#797673 url(/sites/eureka.metal-hq.com/themes/blankeureka/assets/images/eureka2-small.jpg) no-repeat left bottom;color:#fff;padding:14px 20px 15px;text-shadow:#000 0 1px 1px}
h2,h3,h4,h5,h6{color:#595653}
h4{margin-bottom: 10px;}
h5{color:#757575; text-decoration:none;}
h6{margin-bottom: 10px;}
h2 a{color:#595653;text-decoration:none}

#ss_logo a,#ss_logo span{color:transparent;display:block;font-size:0;overflow:hidden;text-indent:-99999px;height:35px}
#ss_logo span{background:url(/sites/eureka.metal-hq.com/themes/blankeureka/assets/images/eureka-submissions-small.jpg) no-repeat}

#header{background:#f6f3f0;border-top:5px solid #f90;border-bottom:1px solid #e6e3e0;margin:0 0 20px;padding:20px 0 0}
#section_home #header,#section_admin #header{border-top-color:#d6d3d0}
#main{padding:0 0 60px}

#nav{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#797673;float:left;font:1.2em/2.5 "Trebuchet MS",sans-serif;text-transform:uppercase; width:100%; height:35px}
#nav a{background:url(/sites/eureka.metal-hq.com/themes/blankeureka/assets/images/nav_a.png) no-repeat -99999px -99999px;border-left:1px solid #898683;color:#fff;display:block;text-decoration: none;text-align:center}
#nav li:first-child a{border:0}
#nav a:hover{background-position:center top;font-style:italic}
#nav li{float:left;list-style:none;margin:-25px 0 0;padding:25px 0 0;overflow:hidden;position:relative;white-space:nowrap;width:20%;height:35px}
#section_home #nav_home,#section_chosen #nav_chosen,#section_flagged #nav_recommended,#section_resources #nav_resources,#section_contact #nav_contact{background:url(/sites/eureka.metal-hq.com/themes/blankeureka/assets/images/nav_arrow.png) no-repeat center 0}

.aside{font-family: Arial, sans-serif; font-size: 11px; color: #666;}

td.viewsrow{padding: 0px 1.5625% 0px 0px; width:18.75%;height: 300px;}
td h4 a{font-size:11px; padding-top:15px;}
th{font-variant:small-caps;}
td h2{padding-top:15px;}

.contact-form{border:1px solid #e6e3e0;margin:0 0 20px;padding:20px 19px 0}
.contact-form{padding-top:5px;padding-bottom:5px}
.contact-form div.resizable-textarea{width:50%}.contact-form input[type="text"]{width:50%;max-width:50%;min-width:50%}
.contact-form textarea{height:20.8333333333333%;min-height:200px}
div.form-item label{color:#666;font-family:Arial,sans-serif;font-size:10px;font-weight:normal;text-transform:uppercase}
div.form-item label.option{color:inherit;font-family:inherit;font-size:inherit;text-transform:none}
.form-required{display:none}
div.resizable-textarea div.grippie{border-color:#c1c1c1}

.form-item-field-category-tid {float:left; margin-right:10px}
.views-submit-button {margin-top:1em}

div.item-list ul.pager,div.item-list ul.pager a{cursor:default}
div.item-list ul.pager{background:#ccc repeat-x;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#eeeeee),color-stop(100%,#cccccc));background-image:-webkit-linear-gradient(#eeeeee,#cccccc);background-image:-moz-linear-gradient(#eeeeee,#cccccc);background-image:-o-linear-gradient(#eeeeee,#cccccc);background-image:-ms-linear-gradient(#eeeeee,#cccccc);background-image:linear-gradient(#eeeeee,#cccccc);border-bottom:1px solid #888;display:table;font-size:11px;line-height:25px;margin-bottom:20px;text-shadow:#fff 0 1px 1px;text-transform:uppercase;width:100%}div.item-list ul.pager li{border-style:solid;border-color:#ddd #aaa;border-width:1px 1px 0 0;display:table-cell;margin:0;padding:0;text-align:center;vertical-align:middle;min-width:30px}div.item-list ul.pager li:first-child{border-left-width:1px}div.item-list ul.pager li.pager-ellipsis{display:none}div.item-list ul.pager a{border:1px solid #fff;color:#333;display:block;text-decoration:none}
div.item-list ul.pager a:hover{background-color:#fff}
div.item-list ul.pager li.pager-current{background:#eee;color:#000}
div.item-list ul.pager li.pager-first,div.item-list ul.pager li.pager-previous,div.item-list ul.pager li.pager-next,div.item-list ul.pager li.pager-last{width:1%}div.item-list ul.pager li.pager-first a,div.item-list ul.pager li.pager-previous a,div.item-list ul.pager li.pager-next a,div.item-list ul.pager li.pager-last a{background-image:url(/sites/eureka.metal-hq.com/themes/blankeureka/assets/images/pager_arrows.png);background-repeat:no-repeat;font-size:0;overflow:hidden;text-indent:-99999px;width:30px;height:25px}div.item-list ul.pager li.pager-first a{background-position:0 center}div.item-list ul.pager li.pager-previous a{background-position:-30px center}div.item-list ul.pager li.pager-next a{background-position:-60px center}div.item-list ul.pager li.pager-last a{background-position:-90px center}#footer{background:#595653;font-size:10px;line-height:40px;margin:-40px 0 0;overflow:hidden;height:40px}#footer,#footer a{color:#b9b6b3}

a.fieldset-title {display:none;}
.vbo-views-form thead .form-type-checkbox {padding: 0px 0px 10px 20px;}
a#edit-cancel {padding-left:10px}

#footer{background:#595653;font-size:10px;line-height:40px;margin:-40px 0 0;overflow:hidden;height:40px}
#footer,#footer a{color:#b9b6b3}
#footer a:hover{color:#fff}

@media (max-width:480px) {
  /*body::before {
    content: "Mobile media query (<480) fired";
    font-weight: bold;
    display: block;
    text-align: center;
    background: rgba(255,255,0,0.9);
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index:99;
  }*/
  body{font-size:60%}
  #header{margin:0;padding:0}
  ul#nav {margin-left:40px}
  .container_12 .grid_3, .container_12 .grid_2 {
  width: 47.9166666666667%;
}
  .container_12 .grid_10 {
  width: 97.916666666667%;
}
  #ss_logo {padding-bottom:10px}
  
  .grid_2 img{display: none}
  .grid_10 p{display:none}
  
  h1{background:#797673;color:#fff;padding:5px}
  
  
}
